* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/*Banner*/

.Banner {
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("Images/banner3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    max-width: 100%;
}

.nav-link {
    font-size: 15px;
}

hr {
    border-color: #ccc;
}

.Banner-header {
    font-size: 48px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0.5px;
    color: white;
}



.view-photos {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #00acc1;
    font-size: 17px;
    height: 50px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 19px;
    border-radius: 5px;
    background-color: white;
    border-color: #00acc1;
}

    .view-photos img {
        height :25px;
        width:25px;
    }


.bt-banner-photo {
    position: absolute;
    bottom: 0;
    left: 0;
}



header nav {
    height: 60px;
}



.defference-content img
{
    height:25px;
}

.main {
    margin-top: 25px;
}

.mapIcon {
    height:30px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-top:5px;
}


.header-footer {
    display: flex;
    flex-wrap: wrap;
}

    .header-footer div {
        margin-right: 25px;
    }
    
.heading-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#description h4
{
    margin-left:-10px;
}
/*.play-logo {
    width: 93px;
}*/
.navbar-header {
    display: flex;
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
   background-color:white;
   font-weight:bold;
}

    .navbar-header div {
        flex: 1;
        text-align: center;
    }

        .navbar-header div a {
            color: #00acc1
        }

.form-heading {
    background-color: #40abbc;
}

.start-date {
    background-image: url(Images/icon3.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.form-footer {
    font-size: 14px;
}

.list ul li {
    display: inline-block;
    text-align: center;
    width: 15%;
}

.list {
    border-top: 1px solid;
}

.video {
    width: 100%;
}

h2 {
    font-size: 36px;
    color: #00acc1;
    font-weight: bold;
}

h3 {
    color: #00acc1;
    font-weight: bold;
}

h4 {
    color: #e53b51;
    padding: 10px;
}


.btn-container {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
}

    .flex-container > div > button {
        color: #85C1E9;
    }

.div-container {
    padding-right: 0;
    padding-left: 0;
}

.forhover a:hover {
    background-color: #e53b51;
    color: white;
}


.select
{
    height:50px;
    width:150px;
   border-radius:4px 4px;
   margin-top:8px !important;
   margin-left:5px;
    
}
.cost-column1-img {
    align-content: center;
    
}

.cost-div {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px 0px;
}

.cost-column1 {
    display: flex;
    margin: -5px 0px;
}

.cost-column2 {
    display: flex;
    border-left: 1px solid #ccc;
    margin: 10px 0px;
}
#watch-icon
{
    margin-top:18px !important;
}
#seven1
{
    font-size:27px;
    margin-left:30px;
    color:red;
}

.navigation li {
    display: block;
}

.banner-login {
    position: absolute;
    top: 0;
    right: 0;
}

li div {
    height: 100%;
    margin: auto;
}





.included div div {
    border-right: 1px solid #ccc;
}

.include-header {
    background-color: #00acc1;
    padding: 5px 0px 5px 50px;
    font-size: 22px;
    margin-right:2px;
}



.not-include-header {
    background-color: #e53b51;
    padding: 5px 0px 5px 50px;
    font-size: 22px;
}


.defference-content {
    padding: 15px 0px 18px 30px;
   
    
}

.defference-content div {
    display:flex;
    
}

.table td, th {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.table thead {
    background-color: #00acc1;
}

.table-number {
    color: #e53b51;
}

.table-Sunday {
    color: #00acc1;
}


/*footer*/
/*.page-footer {
    background-color: #3d3d3d;
    height: 100px;
}
    .page-footer img {
        width: 160px;
        padding-top: 19px;
        padding-left: 10px;
    }
    .page-footer a {
        color: white;
        float: right;
        margin-right: 15px;
        margin-top: 37px;
    }*/

.footer {
    
    background-position: center;
    background: linear-gradient(90deg, rgba(104,104,108,1) 100%, rgba(0,212,255,1) 100%, rgba(22,20,51,1) 100%, rgba(15,13,46,1) 100%, rgba(9,133,171,1) 100%, rgba(158,158,166,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 100%;
    height:90px;
    
    line-height:30px;
}

.page-footer {
    display: flex;
    background-color: #3d3d3d;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
}

.footer-img img {
    width: 160px;
    padding-top: 19px;
    padding-left: 10px;
}

.footer-content div a {
    color: white;
    margin-right: 15px;
}

.footer-content div {
    display: inline-block;
    float:right;
    padding-top: 30px;
}



.red {
    color: #e53b51;
}

.green {
    color: #00acc1;
    
}
#duration {
    margin-top: 18px !important;
}
.khumasi {
    font-size: 28px;
 
}

@media (min-width: 320px) and (max-width: 480px) {

    .Banner {
        background-position: center;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("Images/banner4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 300px;
        max-width: 100%;
    }

    .navbar-header {
        background-color: white;
        font-weight: bold;
        font-size:80px;
        
      
       
    }
        
       
    .cost-div {
        display: flex;
        border: none;
        padding: 10px 0px;
        text-align: center;
    }

    .cost-column1 {
        display: grid;
        border: none;
        margin: 10px 0px;
    }

    .cost-column1-img {
        align-content: center;
    }

    .cost-column2 {
        display: grid;
        border: none;
        margin: 10px 0px;
    }
    #seven1 {
        margin-left: 1px;
    }


    .Banner-header div {
        font-size: 20px;
        font-weight:bold;
       
        }
  

    .view-photos {
        position: absolute;
        bottom: 15px;
        right: 15px;
        left: unset;
        color: #00acc1;
        font-size: 12px;
        height: 40px;
        width: 130px;
        padding-top: 10px;
        padding-bottom: 19px;
        border-radius: 5px;
        background-color: white;
        margin-top:20px;
       
    }

    .view-photos img
    {
        height:15px;
        width:15px;
    }
    .play-logo {
        max-width: 60px;
        max-height: 60px;
    }

    h2 {
        font-size: 24px;
        color: #00acc1;
        font-weight: bold;
    }

    h3 {
        font-size: 21px;
        color: #00acc1;
        font-weight: bold;
    }

    .header-footer div img {
        display: block;
    }

    .header-footer div {
        margin-right: 15px;
        max-width: 50%;
    }

    .khumasi {
        font-size: 16px;
        font-weight: bold;
        padding-right:180px;
        display:flex;
        margin-bottom:10px;
    }

    .banner-logo {
        max-width: 145px;
        max-height: 50px;
    }

    .Banner-header {
        font-size: 24px;
        text-align: center;
    }

    .forhover a {
        font-size: 8px;
        padding: 6px;
    }

    .included div div {
        border-right: none;
    }

    .include-header {
        background-color: #00acc1;
        padding: 5px 0px 5px 20px;
        font-size: 22px;
    }



    .not-include-header {
        background-color: #e53b51;
        padding: 5px 0px 5px 20px;
        font-size: 22px;
    }

    .defference-content {
        padding: 15px 0px 18px 20px;
    }

    /*footer*/
    .footer-img img {
        width: 135px;
    }

    .footer-content div a {
        font-size: 13px;
    }

    .page-footer {
        height: 80px;
    }
    .responsive-view {
        margin-bottom: 20px;
       
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .navbar-header {
        background-color: white;
        font-weight: bold;
    }
    .cost-div {
        display: flex;
        border: 1px solid #ccc;
        padding: 10px 0px;
    }

    .cost-column1 {
        display: flex;
        margin: 10px 0px;
    }

    .cost-column2 {
        display: flex;
        border-left: 1px solid #ccc;
        margin: 10px 0px;
    }

    .Banner-header div {
        font-size: 40px;
        font-weight: bold;
    }

    .khumasi {
        font-size: 20px;
        font-weight: bold;
        padding-right: 550px;
        display: flex;
        margin-bottom: 10px;
    }
    .Banner-header {
        font-size: 40px;
        text-align: center;
    }
    .view-photos {
        position: absolute;
        bottom: 15px;
        right: 15px;
        left: unset;
        color: #00acc1;
        font-size: 17px;
        height: 50px;
        width: 150px;
        padding-top: 10px;
        padding-bottom: 19px;
        border-radius: 5px;
        background-color: white;
    }

    .footer-img img {
        width: 135px;
    }

    .footer-content div a {
        font-size: 13px;
    }

    .page-footer {
        height: 80px;
    }
   .responsive-view
   {
       margin-bottom:100px;
       
   }
   .Form
   {
       height:400px;
   }
    #watch-icon {
        margin-top: 1px !important;
    }
    #duration {
        margin-top: 1px !important;
    }

    .select {
        height: 50px;
        width: 150px;
        border-radius: 4px 4px;
        margin-top: -3px !important;
        margin-left: 5px;
    }
}


/*contact Page*/


.Contact-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("images/contact-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    max-width: 100%;
}

.navbar-toggler-icon {
    color: white;
}

.contact-header {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

hr {
    border-color: #ccc;
}
/*form*/

.paragraph {
    color: #8b9094;
    font-size: 19px;
    padding: 50px;
}

::-webkit-input-placeholder {
    line-height: 200px;
    text-align: center;
}

.form-send {
    text-align: center;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .banner-logo {
        max-width: 145px;
        max-height: 50px;
    }

    .Banner-header {
        font-size: 35px;    
        margin-top: 20px;
    }

    .paragraph {
        color: #8b9094;
        font-size: 19px;
        padding: 23px;
        height:100px;
    }

}   

@media (min-width: 320px) and (max-width: 480px) {

    .Contact-banner {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("images/contact-banner-mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        max-width: 100%;
    }

    .banner-logo {
        max-width: 145px;
        max-height: 50px;
    }

    .Banner-header {
        font-size: 35px;
        margin-top:20px;
    }

    .paragraph {
        color: #8b9094;
        font-size: 19px;
        padding: 23px;
    }

    .form-send button {
        width: 100%;
        margin-bottom:10px;
    }
    /*footer*/
    .footer-img img {
        width: 135px;
    }

    .footer-content div a {
        font-size: 13px;
    }

    .page-footer {
        height: 80px;
    }
}

/*FAQ Page*/

.faq-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("images/faq-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    max-width: 100%;
}

.nav-link {
    font-size: 15px;
}
    .nav-link:hover {
        border-bottom:2px solid #ccc;
       
        
    }
    

.faq-header {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.accordian-header {
    font-size: 26px;
    color: #00acc1;
    font-weight: bold;
}

.arrow-down {
    width: 30px;
    height: 30px;
}





.card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.child {
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    font-size: 21px;
    width: 90%;
}

.flip {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.card {
    border: none;
}

.card-body {
    padding: 0;
}

.accordion {
    padding-top: 20px;
}
/*hr {
    border-color: #f8f9fa;
    opacity: 0.4;
    
}*/
hr {
    border-color: #ccc;
}
/*.accordion hr{
  border-color:#000000;
  opacity:0.2;
}*/
.page-footer {
    display: flex;
    background-color: #3d3d3d;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
}

.footer-img img {
    width: 160px;
    padding-top: 19px;
    padding-left: 10px;
}

.footer-content div a {
    color: white;
    margin-right: 15px;
}

.footer-content div {
    display: inline-block;
    padding-top: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 320px) and (max-width: 480px) {
    .banner-logo {
        max-width: 145px;
        max-height: 50px;
    }

    .Banner-header {
        font-size: 35px;
    }
    /*footer*/
    .footer-img img {
        width: 135px;
    }

    .footer-content div a {
        font-size: 13px;
    }

    .page-footer {
        height: 80px;
    }

    .footer {
        position: unset;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
